*{
    box-sizing: border-box;
}

body{
    margin: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border: 3px solid #e6ffee;
    border-radius: 10px;
}

header{
    padding: 20px;
}

header h1{
    color: #44a86e;;
    margin: 0 0 5px 0;
    font-size: 42px;
}

header p{
    margin: 0;
}

aside{
    display: flex;
    gap: 10px;
    margin: 20px 20px 0 20px;
}

aside a{
    flex: 1;
    text-align: center;
    background: #555;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

aside a.active{
    background: #44a86e;
}

aside a:hover{
    background: #333;
}

.container{
    padding: 20px;
}

h2{
    color:#44a86e;;
    font-size: 34px;
}

h3{
    color: #44a86e;
    font-size: 25px;
}

p{
    line-height: 1.6;
}

main a{
color: black;
text-decoration: underline
}

main a:hover{
color: #44a86e;
text-decoration: underline;
}

.right{
    background: #ededed;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cce5cc; 
}

footer{
    background: white;
    padding: 5px;
    text-align: center;
    font-size: 11px;
}